<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="user-info">
          {% if not_registered %}
          <p>Para ver los productos, por favor inicia sesión o regístrate.</p>
          {% else %}
          <p>Bienvenido, {{ session['usuario'] }}</p>
          {% endif %}
        </div>
        <div class="cart">
          <form method="get" action="{{ url_for('cart') }}">
            <button type="submit" class="cart-button">
              Carrito de Compras
            </button>
          </form>
        </div>
        <h1>Nuestros Productos</h1>
      </div>
    </header>
    <main>
      <div class="product-container">
        {% for product in products %}
        <div class="product">
          <img src="{{ product['imagen'] }}" alt="{{ product['nombre'] }}" />
          <h2>{{ product['nombre'] }}</h2>
          <p class="price">Precio: ${{ product['precio'] }}</p>
          <div class="buttons">
            <form
              method="get"
              action="{{ url_for('add_to_cart', product_id=product['_id']) }}"
            >
              <button type="submit" class="add-to-cart-button">
                Agregar al Carrito
              </button>
            </form>
            <form
              method="get"
              action="{{ url_for('update_price', product_id=product['_id']) }}"
            >
              <button type="submit" class="update-price-button">
                Actualizar Precio
              </button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    <footer></footer>
  </body>
</html>
